{% extends 'upploudbase.html' %}


{% block content %}
    <div class="pagenavigation_div">
        {%  if cur_page != 1 and usermode %}<a href="{% url 'userimages' cur_page=prev_page %}"><<
        {% elif cur_page != 1%}<a href="{% url 'thumbnails' cur_page=prev_page %}"><< </a>{%  endif %}
        <input type="text" value="{{ cur_page }}">  /  <span class="maxpage_span">{{ max_pages }}</span>
        {%  if cur_page < max_pages  and usermode %}<a href="{% url 'userimages' cur_page=next_page %}"> >>
        {% elif cur_page < max_pages %}<a href="{% url 'thumbnails' cur_page=next_page %}"> >></a><br>{% endif %}

    </div>

    <div class="image_container_div" xmlns:http="http://www.w3.org/1999/xhtml">
        {% for img in images %}
                <div class="image_thumbnail_div">
                    <a href="{% url 'view'  img_pk=img.pk  %}"><img src="{{ img.thumbnail.url }}"></a>
                </div>
        {% endfor %}
    </div>

{% endblock %}