{% extends 'upploudbase.html' %}


{% block content %}
    <div class="pagenavigation_div">
        <a href=""><<< </a>
        <input type="text" value="{{ cur_page }}">
        <a href=""> >>></a><br>
        <span class="maxpage_span">125</span>
    </div>

    <div class="image_container_div" xmlns:http="http://www.w3.org/1999/xhtml">
        {% for img in images %}
                <div class="image_thumbnail_div">
                    <a href="{% url 'view'  img_pk=img.pk  %}"><img src="{{ img.thumbnail.url }}"></a>
                </div>
        {% endfor %}
    </div>

{% endblock %}